<footer class="c-footer site-footer" role="contentinfo" data-section-id="footer" data-section-type="footer-section" style="border: 1px solid #dddddd;">
    <div class="page-width">
    	<div class="grid grid--no-gutters small--text-center grid--footer-float-right">
    		<div class="grid__item small--one-whole  site-footer-item-align-right">
    			<small class="site-footer__copyright-content site-footer__copyright-content--powered-by">
    				<a target="_blank" rel="nofollow noopener" href="#" aria-describedby="a11y-new-window-external-message">
    					{% if copyright %}
    						&copy; {{ copyright }}
    					{% endif %}
    				</a>
    			</small>
          	</div>
    	</div>
      </div>
</footer>
