<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <img class="c-sidebar-brand-full" width="190" height="40" alt="Germbusters Logo" src="/assets/germbusters/images/pdf-header.png"/>
        <img class="c-sidebar-brand-minimized" width="50" height="46" src="/assets/germbusters/images/octicon.png" alt="Germbusters Logo"/>
    </div>
    <ul class="c-sidebar-nav">
        {% if not only_static %}

        	{% if frappe.session.user != 'Guest' %}
        	<li class="nav-item dropdown logged-in" id="website-post-login" data-label="website-post-login" style="display: none">
        		<a href="#" class="nav-link dropdown-toggle text-uppercase c-sidebar-nav-link" data-toggle="dropdown">
                    <!-- Use the defined name -->
                    <i class="c-sidebar-nav-icon fas fa-users-cog"></i>
        			<span class="full-name"></span>
                </a>
        		<ul class="dropdown-menu dropdown-menu-right text-uppercase" role="menu">
        			{%- for child in post_login -%}
        			{%- if child.url -%}
        			<a class="dropdown-item text-uppercase" href="{{ child.url | abs_url }}" {{ child.target or '' }} rel="nofollow">
        				{{ child.label }}
        			</a>
        			{%- endif -%}
        			{%- endfor -%}
        			<a class="dropdown-item switch-to-desk hidden text-uppercase" href="/desk">{{ _('Switch To Desk') }}</a>
        		</ul>
        	</li>
        	{% endif %}

        	{% if not hide_login %}
        	<li class="nav-item">
        		<a class="nav-link btn-login-area text-uppercase" href="/login">{{ _("Login") }}</a>
        	</li>
        	{% endif %}
        {% endif %}
        <li class="c-sidebar-nav-item"></li>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
