<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">${title}</h5>
        <button type="button" class="btn btn-default btn-sm btn-modal-minimize hide">
            <i class="octicon octicon-chevron-down" style="padding: 1px 0px;"></i>
        </button>
        <button type="button" class="close btn-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button type="button" class="btn btn-primary btn-sm hide">
            ${__("Confirm")}
        </button>
      </div>
      <div class="modal-body ui-front">${content}</div>
    </div>
  </div>
</div>

<script>
    d = new frappe.ui.Dialog({
        "title": __("Test"),
        "fields":[
            "fieldname": "test", "fieldtype": "Data", "label": __("Test"),
        ]
    })
</script>
