{% extends "navdeepghai/templates/web.html" %}
{% block title %}
    {{ title }}
{% endblock %}

{%- block page_content -%}
    <div id="navdeepghai-section-1585967492891" class="navdeepghai-section index-section">
        <div class="page-width">
            {%- if terms_and_conditions -%}
                <h3><strong><b>{{terms_and_conditions.title }}</b></strong></h3>
                {%- for pp in terms_and_conditions.items -%}
                    <div class='terms-and-conditions' style="margin-bottom:20px;">
                        {%- if pp.heading and pp.heading != terms_and_conditions.title -%}
                                <h4><strong>{{ pp.heading}}</strong></h4>
                        {%- endif -%}
                        <div class="terms-and-conditions-content mb-0"> {{ pp.contents }}</div>
                    </div>
                {%- endfor -%}
            {%- endif -%}
        </div>
    </div>
{%- endblock -%}
