{% extends base_template_path %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
<div class="page-content-wrapper page-container drawer-page-content" id="PageContainer">
	<!-- breadcrumbs -->
	{% block page_container %}
	<main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
			<div class="page-header">
				{% block header %}{% endblock %}
			</div>

			{% if self.header_actions() %}
			<div class="page-header-actions-block">
				{% block header_actions %}{% endblock %}
			</div>
			{% endif %}

		<div class="page_content">
			{%- block page_content -%}{%- endblock -%}
		</div>

		<div class="page-footer">
			{%- block page_footer -%}{%- endblock -%}
		</div>
	</main>
	{% endblock %}
</div>
{% endmacro %}

{% macro container_attributes() %}
{% endmacro %}
<div class="">
	{{ main_content() }}
</div>
{% endblock %}
