{%- if card-%}
    {%- if card.card_header -%}
        <div id="germbusters-section-1585967492891" class="germbusters-section index-section"
                                        {%- if card.color -%}
                                            style="background-color:{{card.color}};padding-top:0; padding-bottom:0;"
                                        {%- endif -%}>
            <div class="page-width rich-text">
                <div class="grid">
                    <div class="grid__item ">
                        <div class="rich-text__heading--medium text-center">
                            <span>&nbsp;</span>
                            <h2 class="h2 headling-title">
                                <strong>{{ card.card_header }}</strong>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}
    <div class="germbusters-section index-section">
        <div class="page-width">
            <div class="grid grid--uniform grid--flush-bottom">
                {%- if card.card_type in ['Card Group', 'Card Deck'] -%}
                    {%- for item in card.cards -%}
                        <div class="grid__item medium-up--one-third text-left">
                            <p>
                                <img class="" src="{{ item.card_image if item.card_image else '/assets/germbusters/images/card_default_image.png'}}"
                                alt="{{ card.card_title }}" style="width:100%;"/>

                            </p>
                            <h4 class="h4"><strong>{{ item.card_title }}</strong></h4>
                            <div class="rte-setting">
                                <p>{{ item.card_body}}</p>
                            </div>
                            {%- if item.card_button -%}
                                <a class="btn btn-primary btn--small" href="{{item.card_route or '#'}}"
                                    aria-label="{{ item.card_button}}: {{card.card_title}}"
                                    title="{{ item.card_title}}">
                                    {{ item.card_button }}
                                </a>
                            {%- endif -%}
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            </div>
        </div>
  </div>
{%- endif -%}
